#util ignore
/utils/generator/.idea
/utils/generator/cmake-build-debug
/utils/generator/libxl-4.0.4.0
/utils/generator/OpenXLSX
/.vscode

#playground ignore
/playground/.bsp
/playground/project
/playground/target
/playground/test_run_dir


#mainsource ignore
/src/.bsp
/src/project
/src/target
/src/test_run_dir